header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5%;
    background-color: $purple;
    transition: 0.3s;
}

.logo {
    color: $white;
    font-size: 2.2rem;
    font-weight: 600;
    // line-height: 0.8;
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 1rem;
}

#menu-icon {
    font-size: 3.8rem;
    color: $white;
    z-index: 3;
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a,
.navbar #dropBtn {
    color: $white;
    font-weight: 600;
    padding: 1rem 1.5rem;
    margin: 0 1rem;
    transition: all 0.40s ease;
    border: none;
    background: transparent;
    font-size: 1.6rem;
    font-family: $montserrat;
    cursor: pointer;
}

.navbar a:hover,
.navbar a:focus,
.navbar #dropBtn:hover,
.navbar #dropBtn:focus {
    background-color: $white;
    color: $black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    width: max-content;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.icons {
    display: inline-block;
}

.icons i {
    color: $white;
    font-size: 2.4rem;
    margin-left: 1.5rem;
}

#hamburger {
    display: none;
    color: $white;
    font-size: 3.6rem;
}


@media screen and (max-width: 888px) {
    #hamburger {
        display: block;
        cursor: pointer;
    }

    header {
        padding: 1.5rem 8%;
    }

    .navbar {
        top: -50rem;
        left: 0;
        right: 0;
        position: absolute;
        flex-direction: column;
        background-color: $purple;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0.5rem;
        text-align: center;
    }

    .active {
        top: 100%;
    }
}