#carrito {
    display: flex;
    margin: 10rem 25% 2rem 25%;
    justify-content: space-between;
    align-items: center;
}

.container_carrito {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    justify-items: center;
    margin-bottom: 4%;
}

.item_container_carrito {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
    border-top: black solid 2px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.carrito_img {
    width: 20rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

#carrito a {
    color: $white;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

.price_carrito {
    font-size: 2rem;
    color: #4E23D6;
    text-align: center;
    padding: 1rem 0 0 0;
    font-weight: bold;
    margin-left: 5px;
}

.container_total {
    display: flex;
    align-items: flex-end;
}

.container_carrito .btn_remove{
    height: fit-content !important;
}
#carrito .btn_remove:hover{
    background-color: rgb(87, 227, 87) !important;
    color: black !important;
}
#carrito_server .error-message{
    height: fit-content !important;
}

.noDisponible {
    position: relative;
  }
  
  .noDisponible:before {
    content: "Producto no disponible";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: red;
    z-index: 1;
  }
  
  .noDisponible * {
    opacity: 0.5;
  }
  
  .noDisponible p, .btn_container_carrito .btn_remove, .btn_container_carrito {
    opacity: 1 !important;
  }


@media (max-width: 800px) {
    #carrito {
        flex-direction: column;
        margin: 10rem 5% 2rem 5%;
    }

    .carrito_img {
        width: 25rem;
    }

    h4 {
        margin-bottom: 2% !important;
    }

    .item_container_carrito {

        display: flex;
        border-top: black solid 2px;
        padding-top: 7%;
        margin-bottom: 11%;
        flex-direction: column;
        width: 40rem;
        text-align: center;
        align-items: center;
        align-self: center;
    }

    .container_carrito div {
        margin-bottom: 2%;
    }


}

@media (max-width: 430px) {
    .item_container_carrito {
        width: 28rem;
    }

    h4 {
        margin-bottom: 4% !important;
    }

}