.chat {
    margin-top: 6%;
}
.chat_header {
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.chat_header p {
    font-size: 150%;
    font-weight: bold;
    margin-left: 12%;
}
.chat_btn{
    margin-right: 2%;
}
.mensaje_izquierda {
    width: fit-content;
    padding: 2%;
    font-weight: bold;
    background-color: #bee0ff;
    margin: 1% 1% 0% 1%;
    border-radius: 10px;
    max-width: 100%;
    margin-right: 55%;
    height: fit-content;
}
.mensaje_derecha {
    width: fit-content;
    padding: 2%;
    font-weight: bold;
    background-color: #beffc7;
    margin: 1% 1% 0% 1%;
    border-radius: 10px;
    float: right;
    max-width: 100%;
    margin-left: 55%;
    height: fit-content;
    align-self: end;
    margin-right: 2%;


}
.mensaje_derecha p{
        text-align: left !important;
}
.chat_id{
    margin: 0% !important;
    width: fit-content;
    font-style: italic;
    font-size: 1.5rem !important;
    opacity: 75%;
}
p.visto {
    margin: 1% 0% -4% -3%;
}

img.photo_chat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.logo_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
}

input#mensaje {
    width: 100%;
    height: 4rem;
    border-radius: 20px;
    margin-right: 1%;
    border: 0.5px black solid;
    padding-left: 1%;
}
form.chat_input {
    display: flex;
    align-items: center;
    width: 100%;
}
.chat_input_container {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 0%;
    padding: 0% 2%;
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #f3f3ff;
}

.send{
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    background-color: transparent;
    border: transparent;
}

.send:hover{
    color: blue;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .chat_content.clearfix {
    margin-bottom: 6rem;
    padding-top: 7rem;
}

p.fecha {
    font-size: 1rem;
}

div#chat_content {
    display: flex;
    flex-direction: column;
}