.pedidos {
    margin-top: 8%;
    margin-bottom: 3%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.titulos {
    display: grid;
    margin-top: 2%;
    width: 90%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: 100%;
}

.titulos p {
    margin: 0% 1%;
}
.btn_confirm:hover{
background-color: rgb(69, 229, 85);
color: black;
}

.noConfirmadosMensaje {
    margin-top: 2%;
}
.h1Title{
    font-size: 3rem;
}
.Pedidos_Confirmados_Title{
    margin-top: 3%;

}

.titulos.superior {
    background-color: #4E23D6;
    color: white;
    padding: 1.3rem;
    width: 100%;
}

.productosDetails p{
    text-align: center;
}