.form-group input[type="file"] {
    display: block;
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    background-color: #FFFFFF;
    border: none;
    border-bottom: 0.1rem solid #999;
}

#photo-container {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
}

.form-group img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

details {
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
    border: 0.1rem solid $black;
    background-color: transparent;
    cursor: pointer;
}

summary {
    margin-bottom: 0.5rem;
}