#login-container {
    max-width: 33%;
    margin: 14rem auto;
    padding: 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

#auth-form {
    margin-bottom: 1rem;
}

#auth-form h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: #999;
}

.errorpass {
    color: #d31512;
}

.validated {
    color: #00853c;
}

.errorpass,
.validated {
    padding: 0.5rem;
}

.feedback_register {
    margin-top: 2%;
    margin-bottom: 4%;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    display: block;
    width: 100%;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    background-color: #FFFFFF;
    border: none;
    border-bottom: 0.1rem solid #999;
}

.form-group button[type="submit"], .form-group a {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    color: $white;
    background-color: $black;
    border: none;
    border-radius: 0.2rem;
}

.form-group button[type="submit"]:hover, .form-group a:hover {
    transition: all 300ms ease-in-out;
    color: $white;
    background-color: $purple;
}

.link {
    margin-bottom: 0.5rem;
    text-align: center;
}

.signup-link {
    text-align: center;
}

.link a,
.signup-link a {
    color: $purple;
}

.error-message {
    background-color: #F4D6D2;
    color: #691911;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.alert-success {
    background-color: #ebffe5;
    color: #27760c;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

@media screen and (max-width: 679px) {
    #login-container {
        max-width: 90%;
    }
}