.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: $purple;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 10% 10%;
}

.hero-text h4 {
    font-size: 3rem;
    color: $white;
    margin-bottom: 1rem;
}

.hero-text span {
    color: $purple;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.hero-text h1 {
    font-size: 5rem;
    line-height: 1.5;
    color: $white;
    margin: 0 0 1rem;
}


.hero-text p {
    font-size: 1.3rem;
    color: $white;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-text a {
    color: $purple;
    background-color: $white;
    padding: 1.2rem 3rem;
    line-height: 1.4;
}

.hero-text a:hover {
    border: 0.1rem solid $white;
    color: $white;
    background-color: $purple;
}

.hero-image img {
    width: 600px;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 1340px) {
    .hero {
        height: 100%;
    }

    .hero-text h1 {
        font-size: 3.5rem;
    }

    .hero-image img {
        width: 550px;
        height: auto;
    }
}


@media screen and (max-width: 1340px) {
    .hero-image img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 890px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-image {
        text-align: center;
    }

    .hero-image img {
        width: 60%;
        margin: 0 auto;
        height: auto;
    }

}


@media screen and (max-width: 660px) {
    .hero {
        grid-template-columns: 1fr;
        padding-top: 9rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-image img {
        width: 80%;
        height: auto;
    }
}

h3.titulos {
    margin-bottom: 1%;
    margin-left: 2%;
}

.productos_landing__center {
    padding: 0 3rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem 2rem;
}

.cat_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div#cats {
    display: grid;
    grid-template-columns: repeat(2, 49%);
}

.titulos_sub {
    margin-bottom: 1%;
    margin-left: 6%;
}

.division_superior a {
    margin-right: 5%;
    text-decoration: none;
    color: blue;
}

.division_superior {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1.landing_textoSuperior {
    margin-top: 6%;
}

.landing_noHay {
    font-size: 3rem;
    text-align: center;
    margin: 2% 3%;
}

.img_noHay {
    width: 40%;
    margin-bottom: 1%;
}

.no-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_todosProductos{
    background-color: #4E23D4;
    color: #f3f3ff;
    padding: 1%;
    margin-bottom: 2%;
}

.btn_todosProductos:hover{
    color: #4E23D4;
    background-color: #f3f3ff;
    border: 1px solid #4E23D4;
}

@media screen and (max-width: 1050px) {
    .cat_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 550px) {
    div#cats {
        grid-template-columns: repeat(1, 1fr);
    }
}