.h1PedidoDetail {
    margin-bottom: 2%;
}

.pedidoDetail {

    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    align-items: center;
    grid-gap: 0%;
    grid-column-gap: 1.5%;
}

.TableTitle {
    text-align: center;
    background-color: #4E23D6;
    color: white;
    padding: 3% 1%;
}
.pedidoDetail p{
    font-weight: bold;
}

.productosDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedidoDetalles {
    margin: 10% 4%;
}

h1.productoTitle {
    margin-top: 3%;
}
.pedidoDetalles .btn_confirm{
    margin-left: 5%;
    margin-top: 2%;
}

p.confirm_msg {
    margin-top: 3%;
    font-weight: bold;
}

p.chat_text {
    margin-left: 5%;
    margin-bottom: -1%;
    margin-top: 1%;
    font-weight: bold;
}