body {
    background-color: $purple-light;
}

.productos {
    padding: 4rem 0;
}

.productos__center {
    padding: 0 3rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem 2rem;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    background-color: $white;
    max-width: 40rem;
}

.imagen__container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.producto__footer {
    padding: 1rem 0 0 0;
    width: 100%;
}

.producto__footer h4 {
    overflow: hidden;
    text-align: center;
    color: $black;
}

.precio {
    font-size: 2rem;
    color: $purple;
    text-align: center;
    padding: 1rem 0 0 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.btn_add {
    display: inline-block;
    border: 0.1rem solid $black;
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
    transition: all 300ms ease-in-out;
    color: $black;
    border: 0.1rem solid $black;
    background-color: transparent;
    cursor: pointer;
}
.btn_remove {
    display: inline-block;
    border: 0.1rem solid $black;
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
    transition: all 300ms ease-in-out;
    color: $white;
    border: 0.1rem solid $black;
    background-color: $black;
    cursor: pointer;
}

.btn_add:hover {
    background-color: $purple;
    color: $white;
}
.btn_remove:hover {
    background-color: $red;
    color: $white;
}

.btn_editar:hover{
background-color: #4e23d6;
color: white;
}

@media screen and (max-width: 679px) {
    .productos__center {
        grid-template-columns: auto;
    }
}
.carrito_img{
    width: 10rem;
}
