  
.slider {
    width: 100%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
  }
  
  .slider .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  .slider .slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  .slider .slide img {
    width: 100%;
    height: auto;
  }
  
  .slider .arrow {
    position: absolute;
    // top: 50%;
    transform: translateY(-50%);
    background-color: rgba(78, 35, 214, 0.30);
    border: none;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;
    color: white;
    border-radius: 5px;
  }
  
  .slider .arrow-left {
    left: 2%;
  }
  
  .slider .arrow-right {
    right: 2%;
  }
  
  .product-details {
    text-align: center;
    margin-top: 20px;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .buy-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  

// .detalles {
//     // height: 100vh;
//     display: flex;
//     justify-content: center;
//     padding-top: 15rem;
// }

// .detalles__grid {
//     display: grid;
//     grid-template-columns: 1fr 1.2fr;
//     gap: 3rem;
//     align-items: center;
// }

// .detalles__grid img {
//     max-width: 55rem;
//     width: 100%;
//     margin: 5rem auto;
//     box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
// }

// .detalles__content h2 {
//     text-transform: uppercase;
// }

// .detalles__content .precio {
//     font-size: 2.2rem;
//     padding-top: 2rem;
//     color: $purple;
//     text-align: left;
// }

// .detalles__content .descripcion {
//     padding-top: 2rem;
//     padding-bottom: 1rem;
// }

// @media only screen and (max-width: 840px) {
//     .detalles__grid {
//         grid-template-columns: 1fr;
//     }
    
//     .detalles__grid img {
//         max-width: 90%;
//         margin: 1rem auto;
//     }
// }
