.manage-container{
  margin-top: 11rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1rem;
}

#create-form,#customize-form {
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  
}
#create-form h4,#customize-form h4{
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

#customize-form .form-group #photo-container img {
  border-radius: 50%;
  padding-bottom: 1rem;
} 