.manage-shop {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: $white;
    border: 1px solid black;
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.manage-shop:hover {
    background-color: #d5d5d5;
}

.manage-shop i {
    font-size: 20px;
    margin-right: 5px;
}

.manage-shop p {
    display: inline;
    color: $black;
}

.manage-shop-link {
    color: $black;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem;
    background-color: $purple;
    border: 0.1rem solid #ccc;
    margin-top: 89px;
}

.title {
    text-align: center;
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px solid #ccc;
}

.photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    justify-content: space-between;
    color: white;
}

.info p {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
}

.dis{
    background-color: #ddd;
}

@media only screen and (max-width: 889px) {
    .container {
        margin-top: 65px;
    }

    .title {
        font-size: 2.3rem;
    }

    .photo-container{
        width: 120px;
        height: 120px;
    }

    .info p{
        font-size: 1.4rem;
    }
}