#barraDeBusqueda {
    padding: 1rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 4rem;
    justify-content: center;
}

#barraDeBusqueda input {
    border: none;
    outline: none;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem;
    padding-left: 2rem;
}

#barraDeBusqueda input:focus+button {
    background-color: $purple;
    color: $white;
    transition: all 0.40s ease-in-out;
}

#barraDeBusqueda button {
    font-size: 2.3rem;
    background-color: $white;
    color: $black;
    border: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    cursor: pointer;
}