#categorias {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding-inline: 10px;
}

#categorias button {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: all 300ms ease-in-out;
    border: none;
    font-family: $montserrat;
    font-size: 1.3rem;
    cursor: pointer;
}

#categorias button:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: $purple;
    color: $white;
    font-weight: bold;
}

#categorias button i {
    font-size: 2.5rem;
}

#categorias button p {
    margin-top: 0;
}

@media screen and (max-width: 887px) {
    #categorias {
        padding: 5rem 1rem 1rem 0.5rem;
        display: flex;
        overflow-x: auto;
        justify-content: flex-start;
    }

    #categorias--webkit-scrollbar {
        width: 0;
    }

    #categorias button {
        min-width: 160px;
        padding: 10px;
    }

    #categorias button i {
        font-size: 2.5rem;
    }

    #categorias button h5 {
        margin-top: 0;
        font-size: 1.6rem;
    }

}