#ordenacion {
    font-family: $montserrat;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0rem 0rem;
}

#ordenacion select {
    padding: 1rem;
    background-color: $white;
    color: $black;
    border: none;
}

#ordenacion select option {
    border: none;
    background-color: $white;
    color: $black;
}