ul.pagination {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

ul.pagination li a {
    color: black;
}


ul.pagination li i {
    font-size: 3rem;
}

ul.pagination li.active span {
    color: $purple;
}

ul.pagination li a[rel="prev"],
ul.pagination li a[rel="next"] {
    color: $purple;
}