@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 5.0rem; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2.0rem; }

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 5%;
  background-color: #4E23D6;
  transition: 0.3s; }

.logo {
  color: #FFFFFF;
  font-size: 2.2rem;
  font-weight: 600;
  display: flex;
  align-items: center; }

.logo i {
  margin-right: 1rem; }

#menu-icon {
  font-size: 3.8rem;
  color: #FFFFFF;
  z-index: 3;
  display: none; }

.navbar {
  display: flex;
  align-items: center; }

.navbar a,
.navbar #dropBtn {
  color: #FFFFFF;
  font-weight: 600;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  transition: all 0.40s ease;
  border: none;
  background: transparent;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer; }

.navbar a:hover,
.navbar a:focus,
.navbar #dropBtn:hover,
.navbar #dropBtn:focus {
  background-color: #FFFFFF;
  color: #000000; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  width: max-content;
  color: black;
  text-decoration: none;
  display: block; }

.dropdown a:hover {
  background-color: #ddd; }

.show {
  display: block; }

.icons {
  display: inline-block; }

.icons i {
  color: #FFFFFF;
  font-size: 2.4rem;
  margin-left: 1.5rem; }

#hamburger {
  display: none;
  color: #FFFFFF;
  font-size: 3.6rem; }

@media screen and (max-width: 888px) {
  #hamburger {
    display: block;
    cursor: pointer; }
  header {
    padding: 1.5rem 8%; }
  .navbar {
    top: -50rem;
    left: 0;
    right: 0;
    position: absolute;
    flex-direction: column;
    background-color: #4E23D6; }
  .navbar a {
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center; }
  .active {
    top: 100%; } }

#categorias {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding-inline: 10px; }

#categorias button {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: all 300ms ease-in-out;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  cursor: pointer; }

#categorias button:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #4E23D6;
  color: #FFFFFF;
  font-weight: bold; }

#categorias button i {
  font-size: 2.5rem; }

#categorias button p {
  margin-top: 0; }

@media screen and (max-width: 887px) {
  #categorias {
    padding: 5rem 1rem 1rem 0.5rem;
    display: flex;
    overflow-x: auto;
    justify-content: flex-start; }
  #categorias--webkit-scrollbar {
    width: 0; }
  #categorias button {
    min-width: 160px;
    padding: 10px; }
  #categorias button i {
    font-size: 2.5rem; }
  #categorias button h5 {
    margin-top: 0;
    font-size: 1.6rem; } }

#barraDeBusqueda {
  padding: 1rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 4rem;
  justify-content: center; }

#barraDeBusqueda input {
  border: none;
  outline: none;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding: 1rem;
  padding-left: 2rem; }

#barraDeBusqueda input:focus + button {
  background-color: #4E23D6;
  color: #FFFFFF;
  transition: all 0.40s ease-in-out; }

#barraDeBusqueda button {
  font-size: 2.3rem;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  cursor: pointer; }

#ordenacion {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0rem 0rem; }

#ordenacion select {
  padding: 1rem;
  background-color: #FFFFFF;
  color: #000000;
  border: none; }

#ordenacion select option {
  border: none;
  background-color: #FFFFFF;
  color: #000000; }

ul.pagination {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
  align-items: center; }

ul.pagination li a {
  color: black; }

ul.pagination li i {
  font-size: 3rem; }

ul.pagination li.active span {
  color: #4E23D6; }

ul.pagination li a[rel="prev"],
ul.pagination li a[rel="next"] {
  color: #4E23D6; }

#login-container {
  max-width: 33%;
  margin: 14rem auto;
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem; }

#auth-form {
  margin-bottom: 1rem; }

#auth-form h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center; }

.form-group {
  margin-bottom: 1rem; }

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: #999; }

.errorpass {
  color: #d31512; }

.validated {
  color: #00853c; }

.errorpass,
.validated {
  padding: 0.5rem; }

.feedback_register {
  margin-top: 2%;
  margin-bottom: 4%; }

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  display: block;
  width: 100%;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  background-color: #FFFFFF;
  border: none;
  border-bottom: 0.1rem solid #999; }

.form-group button[type="submit"], .form-group a {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  border-radius: 0.2rem; }

.form-group button[type="submit"]:hover, .form-group a:hover {
  transition: all 300ms ease-in-out;
  color: #FFFFFF;
  background-color: #4E23D6; }

.link {
  margin-bottom: 0.5rem;
  text-align: center; }

.signup-link {
  text-align: center; }

.link a,
.signup-link a {
  color: #4E23D6; }

.error-message {
  background-color: #F4D6D2;
  color: #691911;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px; }

.alert-success {
  background-color: #ebffe5;
  color: #27760c;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px; }

@media screen and (max-width: 679px) {
  #login-container {
    max-width: 90%; } }

body {
  background-color: #F3F3FF; }

.productos {
  padding: 4rem 0; }

.productos__center {
  padding: 0 3rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 2rem; }

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  max-width: 40rem; }

.imagen__container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  aspect-ratio: 1 / 1; }

.producto__footer {
  padding: 1rem 0 0 0;
  width: 100%; }

.producto__footer h4 {
  overflow: hidden;
  text-align: center;
  color: #000000; }

.precio {
  font-size: 2rem;
  color: #4E23D6;
  text-align: center;
  padding: 1rem 0 0 0; }

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2rem 0; }

.btn_add {
  display: inline-block;
  border: 0.1rem solid #000000;
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  transition: all 300ms ease-in-out;
  color: #000000;
  border: 0.1rem solid #000000;
  background-color: transparent;
  cursor: pointer; }

.btn_remove {
  display: inline-block;
  border: 0.1rem solid #000000;
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  transition: all 300ms ease-in-out;
  color: #FFFFFF;
  border: 0.1rem solid #000000;
  background-color: #000000;
  cursor: pointer; }

.btn_add:hover {
  background-color: #4E23D6;
  color: #FFFFFF; }

.btn_remove:hover {
  background-color: red;
  color: #FFFFFF; }

.btn_editar:hover {
  background-color: #4e23d6;
  color: white; }

@media screen and (max-width: 679px) {
  .productos__center {
    grid-template-columns: auto; } }

.carrito_img {
  width: 10rem; }

.slider {
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem; }

.slider .slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease; }

.slider .slide {
  width: 100%;
  flex-shrink: 0; }

.slider .slide img {
  width: 100%;
  height: auto; }

.slider .arrow {
  position: absolute;
  transform: translateY(-50%);
  background-color: rgba(78, 35, 214, 0.3);
  border: none;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
  color: white;
  border-radius: 5px; }

.slider .arrow-left {
  left: 2%; }

.slider .arrow-right {
  right: 2%; }

.product-details {
  text-align: center;
  margin-top: 20px;
  max-width: 80rem;
  margin: 0 auto; }

h1 {
  font-size: 24px;
  margin-bottom: 10px; }

h2 {
  font-size: 20px;
  margin-bottom: 10px; }

.buy-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer; }

#carrito {
  display: flex;
  margin: 10rem 25% 2rem 25%;
  justify-content: space-between;
  align-items: center; }

.container_carrito {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  justify-items: center;
  margin-bottom: 4%; }

.item_container_carrito {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  border-top: black solid 2px;
  padding-top: 1%;
  padding-bottom: 1%; }

.carrito_img {
  width: 20rem;
  object-fit: cover;
  aspect-ratio: 1 / 1; }

#carrito a {
  color: #FFFFFF;
  font-weight: bold; }

h4 {
  font-weight: bold; }

.price_carrito {
  font-size: 2rem;
  color: #4E23D6;
  text-align: center;
  padding: 1rem 0 0 0;
  font-weight: bold;
  margin-left: 5px; }

.container_total {
  display: flex;
  align-items: flex-end; }

.container_carrito .btn_remove {
  height: fit-content !important; }

#carrito .btn_remove:hover {
  background-color: #57e357 !important;
  color: black !important; }

#carrito_server .error-message {
  height: fit-content !important; }

.noDisponible {
  position: relative; }

.noDisponible:before {
  content: "Producto no disponible";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: red;
  z-index: 1; }

.noDisponible * {
  opacity: 0.5; }

.noDisponible p, .btn_container_carrito .btn_remove, .btn_container_carrito {
  opacity: 1 !important; }

@media (max-width: 800px) {
  #carrito {
    flex-direction: column;
    margin: 10rem 5% 2rem 5%; }
  .carrito_img {
    width: 25rem; }
  h4 {
    margin-bottom: 2% !important; }
  .item_container_carrito {
    display: flex;
    border-top: black solid 2px;
    padding-top: 7%;
    margin-bottom: 11%;
    flex-direction: column;
    width: 40rem;
    text-align: center;
    align-items: center;
    align-self: center; }
  .container_carrito div {
    margin-bottom: 2%; } }

@media (max-width: 430px) {
  .item_container_carrito {
    width: 28rem; }
  h4 {
    margin-bottom: 4% !important; } }

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #4E23D6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 10% 10%; }

.hero-text h4 {
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 1rem; }

.hero-text span {
  color: #4E23D6;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; }

.hero-text h1 {
  font-size: 5rem;
  line-height: 1.5;
  color: #FFFFFF;
  margin: 0 0 1rem; }

.hero-text p {
  font-size: 1.3rem;
  color: #FFFFFF;
  line-height: 1.9;
  margin-bottom: 40px; }

.hero-text a {
  color: #4E23D6;
  background-color: #FFFFFF;
  padding: 1.2rem 3rem;
  line-height: 1.4; }

.hero-text a:hover {
  border: 0.1rem solid #FFFFFF;
  color: #FFFFFF;
  background-color: #4E23D6; }

.hero-image img {
  width: 600px;
  height: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

@media screen and (max-width: 1340px) {
  .hero {
    height: 100%; }
  .hero-text h1 {
    font-size: 3.5rem; }
  .hero-image img {
    width: 550px;
    height: auto; } }

@media screen and (max-width: 1340px) {
  .hero-image img {
    width: 100%;
    height: auto; } }

@media screen and (max-width: 890px) {
  .hero {
    grid-template-columns: 1fr; }
  .hero-text h1 {
    font-size: 2.5rem; }
  .hero-image {
    text-align: center; }
  .hero-image img {
    width: 60%;
    margin: 0 auto;
    height: auto; } }

@media screen and (max-width: 660px) {
  .hero {
    grid-template-columns: 1fr;
    padding-top: 9rem; }
  .hero-text p {
    font-size: 1rem; }
  .hero-image img {
    width: 80%;
    height: auto; } }

h3.titulos {
  margin-bottom: 1%;
  margin-left: 2%; }

.productos_landing__center {
  padding: 0 3rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 2rem; }

.cat_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

div#cats {
  display: grid;
  grid-template-columns: repeat(2, 49%); }

.titulos_sub {
  margin-bottom: 1%;
  margin-left: 6%; }

.division_superior a {
  margin-right: 5%;
  text-decoration: none;
  color: blue; }

.division_superior {
  display: flex;
  align-items: center;
  justify-content: space-between; }

h1.landing_textoSuperior {
  margin-top: 6%; }

.landing_noHay {
  font-size: 3rem;
  text-align: center;
  margin: 2% 3%; }

.img_noHay {
  width: 40%;
  margin-bottom: 1%; }

.no-product {
  display: flex;
  flex-direction: column;
  align-items: center; }

.btn_todosProductos {
  background-color: #4E23D4;
  color: #f3f3ff;
  padding: 1%;
  margin-bottom: 2%; }

.btn_todosProductos:hover {
  color: #4E23D4;
  background-color: #f3f3ff;
  border: 1px solid #4E23D4; }

@media screen and (max-width: 1050px) {
  .cat_container {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 550px) {
  div#cats {
    grid-template-columns: repeat(1, 1fr); } }

.form-group input[type="file"] {
  display: block;
  width: 100%;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  background-color: #FFFFFF;
  border: none;
  border-bottom: 0.1rem solid #999; }

#photo-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden; }

.form-group img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto; }

details {
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  border: 0.1rem solid #000000;
  background-color: transparent;
  cursor: pointer; }

summary {
  margin-bottom: 0.5rem; }

.manage-shop {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #FFFFFF;
  border: 1px solid black;
  padding: 1.5rem;
  display: flex;
  align-items: center; }

.manage-shop:hover {
  background-color: #d5d5d5; }

.manage-shop i {
  font-size: 20px;
  margin-right: 5px; }

.manage-shop p {
  display: inline;
  color: #000000; }

.manage-shop-link {
  color: #000000; }

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem;
  background-color: #4E23D6;
  border: 0.1rem solid #ccc;
  margin-top: 89px; }

.title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white; }

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 2px solid #ccc; }

.photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.info {
  display: flex;
  justify-content: space-between;
  color: white; }

.info p {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0; }

.dis {
  background-color: #ddd; }

@media only screen and (max-width: 889px) {
  .container {
    margin-top: 65px; }
  .title {
    font-size: 2.3rem; }
  .photo-container {
    width: 120px;
    height: 120px; }
  .info p {
    font-size: 1.4rem; } }

.pedidos {
  margin-top: 8%;
  margin-bottom: 3%;
  display: grid;
  align-items: center;
  justify-items: center; }

.titulos {
  display: grid;
  margin-top: 2%;
  width: 90%;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  width: 100%; }

.titulos p {
  margin: 0% 1%; }

.btn_confirm:hover {
  background-color: #45e555;
  color: black; }

.noConfirmadosMensaje {
  margin-top: 2%; }

.h1Title {
  font-size: 3rem; }

.Pedidos_Confirmados_Title {
  margin-top: 3%; }

.titulos.superior {
  background-color: #4E23D6;
  color: white;
  padding: 1.3rem;
  width: 100%; }

.productosDetails p {
  text-align: center; }

.h1PedidoDetail {
  margin-bottom: 2%; }

.pedidoDetail {
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(2, 230px);
  align-items: center;
  grid-gap: 0%;
  grid-column-gap: 1.5%; }

.TableTitle {
  text-align: center;
  background-color: #4E23D6;
  color: white;
  padding: 3% 1%; }

.pedidoDetail p {
  font-weight: bold; }

.productosDetails {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pedidoDetalles {
  margin: 10% 4%; }

h1.productoTitle {
  margin-top: 3%; }

.pedidoDetalles .btn_confirm {
  margin-left: 5%;
  margin-top: 2%; }

p.confirm_msg {
  margin-top: 3%;
  font-weight: bold; }

p.chat_text {
  margin-left: 5%;
  margin-bottom: -1%;
  margin-top: 1%;
  font-weight: bold; }

.manage-container {
  margin-top: 11rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1rem; }

#create-form, #customize-form {
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem; }

#create-form h4, #customize-form h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center; }

#customize-form .form-group #photo-container img {
  border-radius: 50%;
  padding-bottom: 1rem; }

.chat {
  margin-top: 6%; }

.chat_header {
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  justify-content: space-between;
  position: fixed;
  width: 100%; }

.chat_header p {
  font-size: 150%;
  font-weight: bold;
  margin-left: 12%; }

.chat_btn {
  margin-right: 2%; }

.mensaje_izquierda {
  width: fit-content;
  padding: 2%;
  font-weight: bold;
  background-color: #bee0ff;
  margin: 1% 1% 0% 1%;
  border-radius: 10px;
  max-width: 100%;
  margin-right: 55%;
  height: fit-content; }

.mensaje_derecha {
  width: fit-content;
  padding: 2%;
  font-weight: bold;
  background-color: #beffc7;
  margin: 1% 1% 0% 1%;
  border-radius: 10px;
  float: right;
  max-width: 100%;
  margin-left: 55%;
  height: fit-content;
  align-self: end;
  margin-right: 2%; }

.mensaje_derecha p {
  text-align: left !important; }

.chat_id {
  margin: 0% !important;
  width: fit-content;
  font-style: italic;
  font-size: 1.5rem !important;
  opacity: 75%; }

p.visto {
  margin: 1% 0% -4% -3%; }

img.photo_chat {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover; }

.logo_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1%; }

input#mensaje {
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  margin-right: 1%;
  border: 0.5px black solid;
  padding-left: 1%; }

form.chat_input {
  display: flex;
  align-items: center;
  width: 100%; }

.chat_input_container {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 0%;
  padding: 0% 2%;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #f3f3ff; }

.send {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  background-color: transparent;
  border: transparent; }

.send:hover {
  color: blue; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.chat_content.clearfix {
  margin-bottom: 6rem;
  padding-top: 7rem; }

p.fecha {
  font-size: 1rem; }

div#chat_content {
  display: flex;
  flex-direction: column; }
