@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
$montserrat: 'Montserrat', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: $montserrat;
}

h1 {
    font-size: 5.0rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 2.0rem;
}